* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.274);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  height: 450px;
  border-radius: 5px;
  background-color: blue;
  overflow: hidden;
}
.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.container i{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;

}